@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

@font-face {
    font-family: "poppins";
    src: url(/fonts/Poppins-ExtraLight.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
    
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 0.625em;
    margin: 0.5vh;
}

header h1 {
    display: flex;
    align-items: center;
    margin: 0.5vw;
    padding: 0.5vw;
    font-family: 'Roboto Slab', serif;
}

h3 {
    color: brown;
}

.header-nav {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

a {
    text-decoration:none;
    color: black;
}

.header-nav ul {
    margin: 0;
    padding: 0;
}

.header-nav ul li {
    list-style: none;
    display: inline;
    padding: 0.5vw;
    margin: 0.5vw;
    justify-content: center;
}

a:hover {
    color: black;
}

.header-nav ul li:hover {
    cursor: pointer;
    font-size: 1.375rem;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.tittle-subtittle-receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "poppins";
    margin-top: 3vh;
    margin-bottom: 3vh;
}

.tittle-subtittle-receta h1 {
    margin-bottom: 2vh;
}

.receta {
    border-top: solid  0.0625em grey;
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.img-receta {
    width: 60%;
    border-radius: 0.3125em;
}

img:hover {
    transform: scale(1.05);
}

.receta-aside {
    width: 20%;
}

.receta-aside li {
    font-size: 1.25em;
}

.receta-aside h3 {
    font-size: 1.375em;
}

.multimedia {
    border-top: solid 0.0625em grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4vh;
    padding-top: 4vh;
}

.multimedia h3 {
    font-size: 1.5625rem;
}

.video-multimedia {
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
    padding-top: 2vh;
}

.jujuy {
    border-top: solid 0.0625em grey;
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-around;
    border-bottom: solid 0.0625em grey;
}

.aside-mapa {
    width: 50vw;
    margin: 0.5vw;
}

.mapa {
    width: 50vw;
    height: 50vh;
    margin: 0.5vw;
}

.card {
    padding-top: 2vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.row {
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
    padding-bottom: 4vh;
    margin-right: 0;
    margin-left: 0;
}

.btn.btn-primary {
    margin-top: 0.5rem;
}

footer {
    display: flex;
    justify-content: center;
    border-radius: 0.625em;
    padding: 1.5vh;
    margin-bottom: 1vh;
    font-size: 1.4375em;
    color: #112031;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
}

.btn-footer {
    font-size: 1rem;
    color: black;
    background-color: blanchedalmond;
    box-shadow: none;
    border-radius: 0.625rem;
    margin-left: 50px;
    transition: 1s;
}

.btn-footer:hover {
    background-color:aqua;
}

@media (max-width: 900px) {
    .tittle-subtittle-receta h3 {
        font-size: 1.0625rem;
    }
    .receta {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .img-receta {
        width: 90vw;
        
    }
    .receta-aside {
        display: flex;
        width: 90%;
        padding-top: 4vh;
    }
    
    .video-multimedia {
        width: 90vw;
    }
    .jujuy {
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
    .aside-mapa {
        font-size: 0.9375rem;
        width: 30vw;
    }
    .mapa {
        width: 70vw;
        height: auto;
    }
    .col-sm-12.col-md-6.col-lg-6.card {
        margin: 0.625rem;
    }
}

@media (max-width: 633px) {
    header {
        height: 14vh;
    }
    header h1 {
        width: 40vw;
        margin: 0;
        padding-left: 0.3em;
    }
    .header-nav ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 15vh;
    }
    .header-nav a {
        display: flex;
        padding-right: 0.3rem;
    }

    .header-nav ul li:hover {
        font-size: 1.08em;
    }
    .tittle-subtittle-receta h1 {
        margin-top: 0.7em;
    }
    .tittle-subtittle-receta h3 {
        font-size: 1em;
        margin-top: 0;
        padding: 10px;
    }

    .img-receta {
        width: 90vw;
    }
    img:hover {
        transform: none;
    }
    .video-multimedia {
        width: 90vw;
    }
    .jujuy {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .mapa {
        width: 90vw;
        height: 50vh;
    }
    .aside-mapa {
        width: 90vw;
    }
    .btn-footer {
        margin: 0;
    }
}