@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

@font-face {
    font-family: "poppins";
    src: url(/fonts/Poppins-ExtraLight.ttf);
}

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient( 92.7deg,  rgba(245,212,212,1) 8.5%, rgba(252,251,224,1) 90.2% );
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    border-radius: 0.625em;
}

header h1 {
    display: flex;
    align-items: center;
    margin: 0.5vw;
    padding: 0.5vw;
    font-family: 'Roboto Slab', serif;
}

h3 {
    color: brown;
}

.header-nav {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

a {
    text-decoration:none;
    color: black;
}

.header-nav ul li {
    list-style: none;
    display: inline;
    padding: 0.5vw;
    margin: 0.5vw;
}

.header-nav ul li:hover {
    cursor: pointer;
    font-size: 1.375rem;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

.tittle-subtittle-receta {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "poppins";
}

.receta {
    border-top: solid  0.0625em grey;
    display: flex;
    justify-content: space-around;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.img-receta {
    width: 38vw;
    border-radius: 0.3125em;
}

img:hover {
    transform: scale(1.05);
}

.receta-aside li {
    font-size: 1.25em;
}

.receta-aside h3 {
    font-size: 1.375em;
}

.multimedia {
    border-top: solid 0.0625em grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4vh;
}

.video-multimedia {
    height: 50vh;
    width: 50vw;
    margin: 0 auto;
}

.jujuy {
    border-top: solid 0.0625em grey;
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: space-around;
}

.aside-mapa {
    width: 50vw;
    margin: 0.5vw;
}

.mapa {
    width: 50vw;
    height: 50vh;
    margin: 0.5vw;
}

footer {
    display: flex;
    justify-content: center;
    border-radius: 0.625em;
    padding: 1.5vh;
    font-size: 1.4375em;
    color: #112031;
    background-image: linear-gradient( 178.9deg,  rgba(176,57,105,1) 5.1%, rgba(229,113,159,1) 109.3% );
}